{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/filter.css' %}">
{% endblock %}


{% block content %}

<div id="filter">
    <form action="{% url 'stadion:filter' %}" method="GET">
        <label for="search">Axtaris</label><input type="text" name="search" id="search" placeholder="stadionun adini yazin">
        <button type="submit">Axtar</button>
    </form>
    <br> <hr>
    
    
    
    <form action="{% url 'stadion:filter' %}" method="GET">
    
        <label for="city">Seher</label>
        <select name="city" id="city">
            <option value="" selected hidden disabled>Seher</option>
            {% for i in city %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    
    
        <label for="district">Rayon</label>
        <select name="district" id="district">
            <option value="district" selected hidden disabled>Rayon</option>
            {% for i in district %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    
        <label for="metro">Metro</label>
        <select name="metro" id="metro">
            <option value="metro" selected hidden disabled>Metro</option>
            {% for i in metro %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    
        <label for="floor">Ortuk</label>
        <select name="floor" id="floor">
            <option value="" selected hidden disabled>Ortuk</option>
            {% for i in floor %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
    
        <label for="size">Olcu</label>
        <select name="size" id="size">
            <option value="size" selected hidden disabled>Olcu</option>
            {% for i in size %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <hr>
    
        
        <label for="min">Qiymet</label><input type="number" name="min" id="min" placeholder="minimum"><input type="number" name="max" placeholder="maksimum">
        <br>
        <hr>
        <label for="cover">Cover</label><input type="checkbox" name="cover" id="cover">
        <label for="cafe">Cafe</label><input type="checkbox" name="cafe" id="cafe">
        <label for="park">Parking</label><input type="checkbox" name="park" id="park">
        <label for="video">Video</label><input type="checkbox" name="video" id="video"> <br> <hr>
    
        <button type="submit">Axtar</button>
    </form>
</div>



{% if day or hour%}
    <h3>Tarix: {{day}}</h3>
    <h3>Saat: {{hour}}</h3>
{% endif %}

<div id="filtered">
    {% if data %}
        <h1>Sorgunuza aid neticeler</h1>
        {% for i in data %}
        <div id="card">
            <h2>{{i.name}}</h2>
            <h4>Seher: {{i.city}}</h4>
            <h4>Unvan: {{i.adress}}</h4>
            <h4>Qiymet: {{i.price}}</h4>
            <a href="{% url 'stadion:detail' i.id %}">Etrafli</a>
        </div>
        {% endfor %}
    {% else %}
        <h1>Netice tapilmadi</h1>
    {% endif %}
</div>


{% endblock %}}}

<script src="{% static 'js/filter.js' %}"></script>