{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1>Komandanizi qeydiyyatdan kecirin</h1>

<form action="" method="POST" id='teamregform'>
    {% csrf_token %}
    <label for="name" style="margin-right: 18px;">Komandanin adi: </label><input type="text" name='name'> <br>
    <label for="city" style="margin-right: 88px;">Seher: </label><input type="text" name='city'> <br>
    <label for="bio">Komanda haqqinda: </label><textarea name="bio" cols="50" rows="5"></textarea> <br>
    <label for="player" style="margin-right: 57px;">Oyuncular: </label><input type="text" onkeyup="searchname()" id='search' name='player' placeholder="Oyuncu elave et"><button type="button" onclick="addinput()">Elave et</button> <br>
    <input type="submit" value="Yarat">
</form>


<script src="{% static 'js/team.js' %}"></script>
{% endblock %}